<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人资料</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/cropper.min.css" />
		<link rel="stylesheet" href="../css/mui.cropper.css" />
		<script type="text/javascript" src="../js/zoom/flexible.js" ></script>
		<style>
			.list_ul{
				
			}
			.list_ul li{
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0.5rem 5%;
				background-color: #FEFEFE;
				border-bottom: 1px solid #F0F0F0;
				font-size: 0.416666rem;
				color: #555555;
			}
			.list_ul li:active{
				background-color: rgb(240,240,240);
			}
			.right_box{
				display: flex;
				justify-content: center;
				align-content: center;
			}
			.avatar_box{
				display: block;
				width: 1.694444rem;
				height: 1.694444rem;
				border-radius:45px;
				overflow: hidden;
			}
			.avatar_box img{
				width: 100%;
				height: 100%;
				border-radius:90px;
			}
			
			.right_btn{
				display: flex;
				align-items: center;
				color: #888888;
				font-size: 0.388888rem;
			}
			.right_btn img{
				width: 0.194444rem;
				height: 0.333333rem;
				margin-left: 0.222222rem;
			}
		</style>
	</head>

	<body>
		<div class="content" id="msg-content">
			<div class="list_box">
				<ul class="list_ul">
					<a href="#cropper-sheet"><li data-type = "3"><span>头像</span><div class="right_box"><span class="avatar_box"><img class="img_contain"  v-if="isPeople" :src="avatar" /><img class="img_contain"  v-else src="../images/status/not_login_head.png" v-if="teacherDetail.teacherImage" onload="load(this,vm.teacherDetail.teacherImage)" /></span></div></li></a>
					<li><span>姓名</span><span class="right_btn" v-text="teacherDetail.name"></span></li>
					<li><span>电话</span><span class="right_btn" v-text="teacherDetail.mobilephone"></span></li>
					<li data-type = "4"><span>性别</span><span class="right_btn"><span v-text="teacherDetail.gender"></span><img src="../images/myself/next_content.png" /></span></li>
					<li data-type = "1"><span>学校</span><span class="right_btn"><span v-text="teacherDetail.teacherSchool"></span> <img src="../images/myself/next_content.png" /></span></li>
					<li data-type = "2"><span>区域</span><span class="right_btn"><span v-cloak>{{teacherDetail.teacherArea | teacherArea}}</span> <img src="../images/myself/next_content.png" /></span></li>
				</ul>
			</div>
		</div>
		<div class="mui-cropper-modal mui-modal">
			<div class="cropper-image-container">
				<img id="image" src="" />
			</div>
			<div class="cropper-btn-group">
				<span class="cropper-cancel">取消</span>
				<span class="cropper-ok">裁剪</span>
			</div>
		</div>
		<!--取出加密值-->
        <input type="text" style="visibility:hidden" id="getPassword" value="" />
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/config.js"></script>
		<script type="text/javascript" src="../js/hmac-sha1.js" ></script>
		<script type="text/javascript" src="../js/login_config.js" ></script>
		<script type="text/javascript" src="../js/cropper.min.js" ></script>
		<script type="text/javascript" src="../js/mui.cropper.js" ></script>
		<script type="text/javascript" src="../js/vue.min.js" ></script>
		<script type="text/javascript" src="../js/md5.min.js" ></script>
		<script type="text/javascript" src="../js/imgload.js" ></script>
		<script type="text/javascript" src="../js/ajax.js" ></script>
		<script type="text/javascript" src="../js/updateSelf.js" ></script>
		<script type="text/javascript">
			mui.init({
				beforeback: function(){
					//获得列表界面的webview
					var me = plus.webview.getWebviewById('pages_student/me.html');
					//触发列表界面的自定义事件（refresh）,从而进行数据刷新
					mui.fire(me,'showView',{
						id:"刷新"
					});
					//返回true，继续页面关闭逻辑
					return true;
				}
			});
			mui.plusReady(function () {
				//监听返回
			    listenReturn();
			    listenReturnRight('修改');
			    var self = plus.webview.currentWebview();
			    var view = self.getTitleNView();
			    //参数传递	     
			    var teacherData = self.teacherData ||'';
			    var fileArr = [];
			    var dataObj = {};
			    if(teacherData == ''||null){
			    	plus.nativeUI.toast('请先登录！');
			    }
			    console.log(JSON.stringify(teacherData))
			     //点击提交
			    view.addEventListener("click", function(e) {
					if(screen.width - e.clientX <= 60){
						dataObj.school = teacherData.teacherSchool;
						dataObj.city = JSON.stringify(teacherData.teacherArea);
						dataObj.gender = teacherData.gender;
						sendFormData(dataObj,fileArr);
					}
				}, false);
				
			    //渲染初始信息
			    vm.teacherDetail = teacherData;
			    vm.imgUrl = ajaxUrl;
			    
			    
			    //接收学校参数
				window.addEventListener('school',function(event){
					var value = event.detail.value;
					console.log('接收到学校参数',value)
					teacherData.teacherSchool = value;
		    		vm.teacherDetail = teacherData;
				});
			    //接收区域参数
				window.addEventListener('address',function(event){
					var value = event.detail.value;				
					teacherData.teacherArea = value;
		    		vm.teacherDetail = teacherData;
				});
				
			    //接收性别参数
				window.addEventListener('sex',function(event){
				  	var value = event.detail.value;
				  	teacherData.gender = value;
		    		vm.teacherDetail.gender = value;
				});			    
			    //存放头像图片地址
			    var fileArr=[];
				//获取照片信息
				function cropper_avatar(){			
				var btnArray = [{
					title: "拍照"
				}, {
					title: "从相册选择"
				}];
				plus.nativeUI.actionSheet({
					title: "选择照片",
					cancel: "取消",
					buttons: btnArray
				}, function(e) {
					var index = e.index;
					switch (index) {
						case 0:
							break;
						case 1:
							var cmr = plus.camera.getCamera();
							cmr.captureImage(function(path) {
								var fullPath = mui.getLocalFileURL(path);
								handleInit(fullPath);
							}, function(err) {});
						break;
						case 2:
							plus.gallery.pick(function(path) {
								handleInit(path);
							}, function(err) {}, {filter:"image",multiple:false,system:false});
						break;
					}
				});	
			}
			   	
			function handleInit(path){
				var name = path.substr(path.lastIndexOf('/') + 1);
				mui('#cropper-sheet').popover('toggle');
				mui.cropper.show(path, function(dataUrl){
					vm.isPeople = true;
					console.log(dataUrl)
					vm.avatar = dataUrl;
					fileArr.push({path:dataUrl})
				});
			}
			  	
				
			    mui('.list_ul').on('tap','li',function(){
			    	var type = this.getAttribute('data-type');
			    	switch (type){
			    		case '1':
			    			openView.nativeView('self_change.html', 'self_change', '学校',{'eg':vm.teacherDetail.teacherSchool});
			    			break;
			    		case '2':
			    			openView.nativeView('localtion.html', 'localtionArea', '区域',{'eg':vm.teacherDetail.teacherArea,'type':type});
			    			break;
			    		case '3':
				    		cropper_avatar();
				    		break;
				    	case '4':
				    		openView.nativeView('sex_change.html', 'sex_change', '性别',{'eg':vm.teacherDetail.gender,'type':type});
				    		break;
			    		default:
			    			break;
			    	}
			    })
			    
			})
			
			Vue.filter('teacherArea',function(value){
					switch (value){
						case 1:
							return '成都市';
							break;
						default:
							return '未知城市';
							break;
					}
			})
			var vm = new Vue({
				el: '#msg-content',
				data: {
					teacherDetail:{},
					imgUrl:'',
					isPeople:false
				}			
			})
		</script>
	</body>

</html>