<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<title>授课地址</title>
		<script type="text/javascript" src="../js/zoom/flexible.js" ></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<style>
			.content_list{
				background-color: #FEFEFE;
			}
			.content_list_ul li{
				padding: 0.388888rem 4%;
				border-bottom:2px solid rgba(220,220,220,.5);
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 0.416666rem;
				color: #555555;
			}
			.content_list_ul li:active{
				background-color: rgb(240,240,240);
			}
		</style>
	</head>
	<body>
		<div class="content" id="msg-content">
			<div class="content_list">
				<ul class="content_list_ul">
					<li v-for="item in address" v-if="item.organizationId>0" :data-type = "item.organizationId" :data-name="item.organizationArea" v-text="item.organizationArea"></li>
					<!--<li>
						东软校区
					</li>-->
				</ul>				
			</div>
		</div>
		<!--取出加密值-->
		<input type="text" style="visibility:hidden" id="getPassword" value="" />
		<script type="text/javascript" src="../js/mui.min.js" ></script>
		<script type="text/javascript" src="../js/config.js" ></script>
		<script type="text/javascript" src="../js/login_config.js" ></script>
		<script type="text/javascript" src="../js/vue.min.js" ></script>
		<script type="text/javascript" src="../js/hmac-sha1.js" ></script>
		<script type="text/javascript" src="../js/ajax.js" ></script>
		<script>
			mui.init({});
			mui.plusReady(function () {
			    //监听返回
			    listenReturn();
			    //获取页面信息
			    var self = plus.webview.currentWebview();
			    var types = self.type;
			    //获取数据
			    var ajaxData = {
							url:'restful1/course/getCourseLocation',
							data: {},
							type:'post'
					}
				ajax(ajaxData, function(data) {
					console.log(JSON.stringify(data))
					if(data.code == 200){
						vm.address = data.data;
					}
				},true);
			//点击
				var new_classPage = null;
				if(types){
					if(types = 'selfDetail'){
						new_classPage =  plus.webview.getWebviewById('global_earch');
					}			
				}else{
					plus.webview.getWebviewById('new_class');
				}
				
				mui('.content_list_ul').on('tap','li',function(){
					var organizationId = this.getAttribute('data-type');
					var name = this.getAttribute('data-name');
					mui.fire(new_classPage,'addressChange',{
					    organizationId:organizationId,
					    name:name
				  	});
				  	mui.back();
				},false);
			})
			
			var vm = new Vue({
                el: '#msg-content',
                data: {
                    address:[]
                }
            })
		</script>
	</body>
</html>
